@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0); /* hsl(0 0% 100%) */
  --foreground: oklch(0.147 0.004 49.25); /* hsl(20 14.3% 4.1%) */
  --card: oklch(1 0 0); /* hsl(0 0% 100%) */
  --card-foreground: oklch(0.147 0.004 49.25); /* hsl(20 14.3% 4.1%) */
  --popover: oklch(1 0 0); /* hsl(0 0% 100%) */
  --popover-foreground: oklch(0.147 0.004 49.25); /* hsl(20 14.3% 4.1%) */
  --primary: oklch(0.184 0.045 29.5); /* hsl(24 9.8% 10%) */
  --primary-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --secondary: oklch(0.95 0.012 29.5); /* hsl(20 6% 90%) */
  --secondary-foreground: oklch(0.184 0.045 29.5); /* hsl(24 9.8% 10%) */
  --muted: oklch(0.97 0.001 106.424); /* hsl(60 4.8% 95.9%) */
  --muted-foreground: oklch(0.347 0.022 44.7); /* hsl(25 5.3% 44.7%) */
  --accent: oklch(0.97 0.001 106.424); /* hsl(60 4.8% 95.9%) */
  --accent-foreground: oklch(0.184 0.045 29.5); /* hsl(24 9.8% 10%) */
  --destructive: oklch(0.627 0.245 27.325); /* hsl(0 72.22% 50.59%) */
  --destructive-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --border: oklch(0.95 0.012 29.5); /* hsl(20 5.9% 90%) */
  --input: oklch(0.95 0.012 29.5); /* hsl(20 5.9% 90%) */
  --ring: oklch(0.147 0.004 49.25); /* hsl(20 14.3% 4.1%) */
  --radius: 0.5rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.184 0.045 29.5); /* hsl(12 6% 15%) */
  --foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --card: oklch(0.157 0.045 29.5); /* hsl(12 8% 12%) */
  --card-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --popover: oklch(0.184 0.045 29.5); /* hsl(24 10% 10%) */
  --popover-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --primary: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --primary-foreground: oklch(0.184 0.045 29.5); /* hsl(24 9.8% 10%) */
  --secondary: oklch(0.212 0.025 32); /* hsl(33 5% 32%) */
  --secondary-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --muted: oklch(0.212 0.025 32); /* hsl(33 5% 32%) */
  --muted-foreground: oklch(0.347 0.022 63.9); /* hsl(24 5.4% 63.9%) */
  --accent: oklch(0.212 0.025 27.87); /* hsl(25 6.88% 27.87%) */
  --accent-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --destructive: oklch(0.347 0.245 22.216); /* hsl(0 70% 35%) */
  --destructive-foreground: oklch(0.985 0.001 106.423); /* hsl(60 9.1% 97.8%) */
  --border: oklch(0.212 0.025 32); /* hsl(33 5% 32%) */
  --input: oklch(0.212 0.025 32); /* hsl(33 5% 32%) */
  --ring: oklch(0.553 0.013 82.9); /* hsl(24 5.7% 82.9%) */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Geist Variable', sans-serif;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-muted;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-stone-200 dark:bg-stone-500;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-300 dark:bg-stone-400;
  }
}
